html, body {
  background: url('../assets/imgs/cands.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.main-content {
  text-align: center;
  h1 {
    color: #FFF;
    font-family: Helvetica, Arial;
  }
}
